<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PracticProject.Properties.Settings.ISAConnectionString"
            connectionString="Data Source=DESKTOP-04JM1IU;Initial Catalog=&quot;Информационная система автосалона&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>